.board{
    width: 55%;
    margin: 10px auto;
    padding: 20px;
    background-color: #ec9675;
    border-radius: 5px !important;
}

.player-board{
    border-radius: 15px !important;
    padding: 15px !important;
    margin: 15px 5px !important;
}

.winner{
    width: 100px !important;
}

.winner > span{
    width: 100% !important;
    padding: 5px !important;
    border-radius: 25px !important;
    font-weight: 100 !important;
    font-size: 0.8rem !important;
    background-color: #5abb5e !important;
}

.dicevalue{
    margin: 5px !important;
    padding: 8px !important;
    width: 30px !important;
}

.dice-values-align{
    margin: 15px auto !important;
    width: 82% !important;
}

.hand-message{
    color:  #ec9675 !important;
    text-align: center !important;
    display: inline-block !important;
    font-weight: 100 !important;
    border-radius: 15px !important;
    padding: 3% 10% 3% 10% !important;
    width: 100% !important;
}

.hand-message-align{
    width: 45% !important;
}

.player-noborder{
    border: none !important;
}

.btn-message{
    width: 50px !important;
    padding: 0px !important;
    font-size: 0.8rem !important;
    margin-right: 5px !important;
}

.adjust-alert{
    width: 110px !important;
    margin: 0 auto !important;
}

.final-message span{
    font-weight: 600 !important;
    font-size: 2rem !important;
}